.wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    width: 20vw;
    margin-top: 2vh;
    text-align: left;
    font-size: 0.9rem;
}
.wrapper p {
    font-weight: 500;
    margin: 2vh 0;
}
.list_of_carriers {
    display: flex;
    align-items: center;
}
.carriers__checkbox {
    display: flex;
    flex-direction: column;
    width: 2vw;
    align-items: flex-start;
    justify-content: space-evenly;
}
.checkbox {
    height: 5.2vh;
}
.carriers__wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: baseline;
}
.carriers {
    display: flex;
    width: 17vw;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.price {
    display: flex;
    text-align: right;
}