.wrapper {
    top: 0;
    right: 0;
    bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    position: fixed;
    bottom: 0;
    margin-bottom: 1vh;
    margin-left: -10vw;
    height: 4vh;
    width: 20vw;
    font-weight: 500;
}